__pycache__/
*.pyc
*.db
*.sqlite
.env

# OS junk
.DS_Store
Thumbs.db

run-local.ps1

# IDE/editor
.vscode/
.idea/

# Python virtual env
venv/
.env/
# Terraform
*.tfvars
*.tfstate
*.tfstate.*
.terraform/

# Environment
.env
.env.*

# Secrets
*secret*
*credentials*
