--
-- PostgreSQL database dump
--

\restrict RYz911BJnYS76XIJrM9yFKVHvppyrOfHcTYyEx6QoROCy6w8f1Vl7gYjAe1xBZf

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE ONLY public.user_sessions DROP CONSTRAINT user_sessions_user_id_fkey;
ALTER TABLE ONLY public.user_oauth_identities DROP CONSTRAINT user_oauth_identities_user_id_fkey;
ALTER TABLE ONLY public.role_tasks DROP CONSTRAINT role_tasks_role_id_fkey;
ALTER TABLE ONLY public.personal_access_tokens DROP CONSTRAINT personal_access_tokens_user_id_fkey;
ALTER TABLE ONLY public.llm_work_items DROP CONSTRAINT llm_work_items_thread_id_fkey;
ALTER TABLE ONLY public.llm_threads DROP CONSTRAINT llm_threads_parent_thread_id_fkey;
ALTER TABLE ONLY public.llm_run_tool_call DROP CONSTRAINT llm_run_tool_call_llm_run_id_fkey;
ALTER TABLE ONLY public.llm_run DROP CONSTRAINT llm_run_project_id_fkey;
ALTER TABLE ONLY public.llm_run_output_ref DROP CONSTRAINT llm_run_output_ref_llm_run_id_fkey;
ALTER TABLE ONLY public.llm_run_input_ref DROP CONSTRAINT llm_run_input_ref_llm_run_id_fkey;
ALTER TABLE ONLY public.llm_run_error DROP CONSTRAINT llm_run_error_llm_run_id_fkey;
ALTER TABLE ONLY public.llm_ledger_entries DROP CONSTRAINT llm_ledger_entries_work_item_id_fkey;
ALTER TABLE ONLY public.llm_ledger_entries DROP CONSTRAINT llm_ledger_entries_thread_id_fkey;
ALTER TABLE ONLY public.link_intent_nonces DROP CONSTRAINT link_intent_nonces_user_id_fkey;
ALTER TABLE ONLY public.document_relations DROP CONSTRAINT fk_relations_to_doc;
ALTER TABLE ONLY public.document_relations DROP CONSTRAINT fk_relations_from_doc;
ALTER TABLE ONLY public.projects DROP CONSTRAINT fk_projects_archived_by;
ALTER TABLE ONLY public.project_audit DROP CONSTRAINT fk_project_audit_project;
ALTER TABLE ONLY public.project_audit DROP CONSTRAINT fk_project_audit_actor;
ALTER TABLE ONLY public.documents DROP CONSTRAINT fk_documents_parent;
ALTER TABLE ONLY public.documents DROP CONSTRAINT fk_documents_doc_type;
ALTER TABLE ONLY public.documents DROP CONSTRAINT documents_doc_type_id_fkey;
ALTER TABLE ONLY public.document_types DROP CONSTRAINT document_types_system_prompt_id_fkey;
ALTER TABLE ONLY public.document_relations DROP CONSTRAINT document_relations_to_document_id_fkey;
ALTER TABLE ONLY public.document_relations DROP CONSTRAINT document_relations_from_document_id_fkey;
ALTER TABLE ONLY public.document_definitions DROP CONSTRAINT document_definitions_document_schema_id_fkey;
ALTER TABLE ONLY public.component_artifacts DROP CONSTRAINT component_artifacts_schema_artifact_id_fkey;
ALTER TABLE ONLY public.auth_audit_log DROP CONSTRAINT auth_audit_log_user_id_fkey;
DROP TRIGGER projects_updated_at ON public.projects;
DROP INDEX public.uq_threads_idempotency_active;
DROP INDEX public.ix_schema_artifacts_status;
DROP INDEX public.ix_schema_artifacts_schema_id_version;
DROP INDEX public.ix_schema_artifacts_kind;
DROP INDEX public.ix_roles_name;
DROP INDEX public.ix_role_prompts_role_name;
DROP INDEX public.ix_role_prompts_is_active;
DROP INDEX public.ix_projects_status;
DROP INDEX public.ix_projects_project_id;
DROP INDEX public.ix_projects_owner_id;
DROP INDEX public.ix_projects_organization_id;
DROP INDEX public.ix_projects_created_at;
DROP INDEX public.ix_llm_run_schema_id;
DROP INDEX public.ix_fragment_bindings_unique_active;
DROP INDEX public.ix_fragment_bindings_fragment_id;
DROP INDEX public.ix_fragment_artifacts_status;
DROP INDEX public.ix_fragment_artifacts_schema_type_id;
DROP INDEX public.ix_fragment_artifacts_fragment_id_version;
DROP INDEX public.ix_files_file_type;
DROP INDEX public.ix_files_file_path;
DROP INDEX public.ix_files_content_hash;
DROP INDEX public.ix_documents_space_type;
DROP INDEX public.ix_documents_space_id;
DROP INDEX public.ix_documents_doc_type_id;
DROP INDEX public.ix_document_types_doc_type_id;
DROP INDEX public.ix_document_types_category;
DROP INDEX public.ix_document_relations_to_document_id;
DROP INDEX public.ix_document_relations_relation_type;
DROP INDEX public.ix_document_relations_from_document_id;
DROP INDEX public.ix_document_definitions_status;
DROP INDEX public.ix_document_definitions_accepted_at;
DROP INDEX public.ix_component_artifacts_status;
DROP INDEX public.ix_component_artifacts_schema_artifact_id;
DROP INDEX public.ix_component_artifacts_accepted_at;
DROP INDEX public.idx_work_items_thread;
DROP INDEX public.idx_work_items_queued;
DROP INDEX public.idx_users_email;
DROP INDEX public.idx_users_active;
DROP INDEX public.idx_threads_space;
DROP INDEX public.idx_session_user_id;
DROP INDEX public.idx_session_token;
DROP INDEX public.idx_session_expires;
DROP INDEX public.idx_roles_name;
DROP INDEX public.idx_role_tasks_role_id;
DROP INDEX public.idx_role_tasks_lookup;
DROP INDEX public.idx_role_tasks_active;
DROP INDEX public.idx_role_prompts_version;
DROP INDEX public.idx_role_prompts_role_name;
DROP INDEX public.idx_role_prompts_active;
DROP INDEX public.idx_relations_type;
DROP INDEX public.idx_relations_to;
DROP INDEX public.idx_relations_from;
DROP INDEX public.idx_projects_status;
DROP INDEX public.idx_projects_project_id;
DROP INDEX public.idx_projects_created_at;
DROP INDEX public.idx_projects_archived;
DROP INDEX public.idx_project_audit_project_created;
DROP INDEX public.idx_project_audit_actor_created;
DROP INDEX public.idx_project_audit_action_created;
DROP INDEX public.idx_pat_user;
DROP INDEX public.idx_pat_token_id;
DROP INDEX public.idx_pat_active;
DROP INDEX public.idx_oauth_user_id;
DROP INDEX public.idx_oauth_provider;
DROP INDEX public.idx_llm_tool_call_status;
DROP INDEX public.idx_llm_tool_call_run;
DROP INDEX public.idx_llm_tool_call_name;
DROP INDEX public.idx_llm_run_status;
DROP INDEX public.idx_llm_run_started;
DROP INDEX public.idx_llm_run_role_time;
DROP INDEX public.idx_llm_run_project_time;
DROP INDEX public.idx_llm_run_correlation;
DROP INDEX public.idx_llm_output_ref_run;
DROP INDEX public.idx_llm_output_ref_kind;
DROP INDEX public.idx_llm_input_ref_run;
DROP INDEX public.idx_llm_input_ref_kind;
DROP INDEX public.idx_llm_error_stage;
DROP INDEX public.idx_llm_error_severity;
DROP INDEX public.idx_llm_error_run;
DROP INDEX public.idx_llm_content_hash;
DROP INDEX public.idx_llm_content_accessed;
DROP INDEX public.idx_link_nonces_user;
DROP INDEX public.idx_link_nonces_expires;
DROP INDEX public.idx_ledger_thread;
DROP INDEX public.idx_files_type;
DROP INDEX public.idx_files_search;
DROP INDEX public.idx_files_path;
DROP INDEX public.idx_files_hash;
DROP INDEX public.idx_documents_unique_latest;
DROP INDEX public.idx_documents_type;
DROP INDEX public.idx_documents_status;
DROP INDEX public.idx_documents_space;
DROP INDEX public.idx_documents_search;
DROP INDEX public.idx_documents_schema_bundle;
DROP INDEX public.idx_documents_parent;
DROP INDEX public.idx_documents_lifecycle_state;
DROP INDEX public.idx_documents_acceptance;
DROP INDEX public.idx_document_types_scope;
DROP INDEX public.idx_document_types_required_inputs;
DROP INDEX public.idx_document_types_category;
DROP INDEX public.idx_document_types_builder;
DROP INDEX public.idx_document_types_active;
DROP INDEX public.idx_document_types_acceptance_required;
DROP INDEX public.idx_auth_log_user;
DROP INDEX public.idx_auth_log_event;
DROP INDEX public.idx_auth_log_created;
ALTER TABLE ONLY public.users DROP CONSTRAINT users_pkey;
ALTER TABLE ONLY public.users DROP CONSTRAINT users_email_unique;
ALTER TABLE ONLY public.user_sessions DROP CONSTRAINT user_sessions_session_token_unique;
ALTER TABLE ONLY public.user_sessions DROP CONSTRAINT user_sessions_pkey;
ALTER TABLE ONLY public.user_oauth_identities DROP CONSTRAINT user_oauth_identities_pkey;
ALTER TABLE ONLY public.llm_work_items DROP CONSTRAINT uq_work_item_thread_sequence;
ALTER TABLE ONLY public.role_tasks DROP CONSTRAINT uq_role_task;
ALTER TABLE ONLY public.llm_run_tool_call DROP CONSTRAINT uq_llm_run_tool_call_sequence;
ALTER TABLE ONLY public.llm_run_error DROP CONSTRAINT uq_llm_run_error_sequence;
ALTER TABLE ONLY public.document_relations DROP CONSTRAINT unique_relation;
ALTER TABLE ONLY public.schema_artifacts DROP CONSTRAINT schema_artifacts_pkey;
ALTER TABLE ONLY public.roles DROP CONSTRAINT roles_pkey;
ALTER TABLE ONLY public.roles DROP CONSTRAINT roles_name_key;
ALTER TABLE ONLY public.role_tasks DROP CONSTRAINT role_tasks_pkey;
ALTER TABLE ONLY public.role_prompts DROP CONSTRAINT role_prompts_pkey;
ALTER TABLE ONLY public.projects DROP CONSTRAINT projects_project_id_key;
ALTER TABLE ONLY public.projects DROP CONSTRAINT projects_pkey;
ALTER TABLE ONLY public.project_audit DROP CONSTRAINT project_audit_pkey;
ALTER TABLE ONLY public.personal_access_tokens DROP CONSTRAINT personal_access_tokens_pkey;
ALTER TABLE ONLY public.user_oauth_identities DROP CONSTRAINT oauth_provider_user_unique;
ALTER TABLE ONLY public.llm_work_items DROP CONSTRAINT llm_work_items_pkey;
ALTER TABLE ONLY public.llm_threads DROP CONSTRAINT llm_threads_pkey;
ALTER TABLE ONLY public.llm_run_tool_call DROP CONSTRAINT llm_run_tool_call_pkey;
ALTER TABLE ONLY public.llm_run DROP CONSTRAINT llm_run_pkey;
ALTER TABLE ONLY public.llm_run_output_ref DROP CONSTRAINT llm_run_output_ref_pkey;
ALTER TABLE ONLY public.llm_run_input_ref DROP CONSTRAINT llm_run_input_ref_pkey;
ALTER TABLE ONLY public.llm_run_error DROP CONSTRAINT llm_run_error_pkey;
ALTER TABLE ONLY public.llm_ledger_entries DROP CONSTRAINT llm_ledger_entries_pkey;
ALTER TABLE ONLY public.llm_content DROP CONSTRAINT llm_content_pkey;
ALTER TABLE ONLY public.llm_content DROP CONSTRAINT llm_content_content_hash_key;
ALTER TABLE ONLY public.link_intent_nonces DROP CONSTRAINT link_intent_nonces_pkey;
ALTER TABLE ONLY public.fragment_bindings DROP CONSTRAINT fragment_bindings_pkey;
ALTER TABLE ONLY public.fragment_artifacts DROP CONSTRAINT fragment_artifacts_pkey;
ALTER TABLE ONLY public.files DROP CONSTRAINT files_pkey;
ALTER TABLE ONLY public.documents DROP CONSTRAINT documents_pkey;
ALTER TABLE ONLY public.document_types DROP CONSTRAINT document_types_pkey;
ALTER TABLE ONLY public.document_relations DROP CONSTRAINT document_relations_pkey;
ALTER TABLE ONLY public.document_definitions DROP CONSTRAINT document_definitions_pkey;
ALTER TABLE ONLY public.document_definitions DROP CONSTRAINT document_definitions_document_def_id_key;
ALTER TABLE ONLY public.component_artifacts DROP CONSTRAINT component_artifacts_pkey;
ALTER TABLE ONLY public.component_artifacts DROP CONSTRAINT component_artifacts_component_id_key;
ALTER TABLE ONLY public.auth_audit_log DROP CONSTRAINT auth_audit_log_pkey;
ALTER TABLE ONLY public.alembic_version DROP CONSTRAINT alembic_version_pkc;
DROP TABLE public.users;
DROP TABLE public.user_sessions;
DROP TABLE public.user_oauth_identities;
DROP TABLE public.schema_artifacts;
DROP TABLE public.roles;
DROP TABLE public.role_tasks;
DROP TABLE public.role_prompts;
DROP TABLE public.projects;
DROP TABLE public.project_audit;
DROP TABLE public.personal_access_tokens;
DROP TABLE public.llm_work_items;
DROP TABLE public.llm_threads;
DROP TABLE public.llm_run_tool_call;
DROP TABLE public.llm_run_output_ref;
DROP TABLE public.llm_run_input_ref;
DROP TABLE public.llm_run_error;
DROP TABLE public.llm_run;
DROP TABLE public.llm_ledger_entries;
DROP TABLE public.llm_content;
DROP TABLE public.link_intent_nonces;
DROP TABLE public.fragment_bindings;
DROP TABLE public.fragment_artifacts;
DROP TABLE public.files;
DROP TABLE public.documents;
DROP TABLE public.document_types;
DROP TABLE public.document_relations;
DROP TABLE public.document_definitions;
DROP TABLE public.component_artifacts;
DROP TABLE public.auth_audit_log;
DROP TABLE public.alembic_version;
DROP FUNCTION public.update_updated_at();
DROP FUNCTION public.parse_artifact_path(path character varying);
DROP FUNCTION public.get_artifact_with_ancestry(path character varying);
DROP TYPE public.document_lifecycle_state;
DROP EXTENSION "uuid-ossp";
DROP EXTENSION btree_gin;
--
-- Name: btree_gin; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS btree_gin WITH SCHEMA public;


--
-- Name: EXTENSION btree_gin; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION btree_gin IS 'support for indexing common datatypes in GIN';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: document_lifecycle_state; Type: TYPE; Schema: public; Owner: combine_admin
--

CREATE TYPE public.document_lifecycle_state AS ENUM (
    'generating',
    'partial',
    'complete',
    'stale'
);


ALTER TYPE public.document_lifecycle_state OWNER TO combine_admin;

--
-- Name: get_artifact_with_ancestry(character varying); Type: FUNCTION; Schema: public; Owner: combine_admin
--

CREATE FUNCTION public.get_artifact_with_ancestry(path character varying) RETURNS TABLE(artifact_path character varying, artifact_type character varying, title character varying, content jsonb, depth integer)
    LANGUAGE plpgsql
    AS $$
BEGIN
    RETURN QUERY
    WITH RECURSIVE ancestry AS (
        -- Base case: the requested artifact
        SELECT 
            a.artifact_path,
            a.artifact_type,
            a.title,
            a.content,
            0 as depth
        FROM artifacts a
        WHERE a.artifact_path = path
        
        UNION ALL
        
        -- Recursive case: parent artifacts
        SELECT 
            a.artifact_path,
            a.artifact_type,
            a.title,
            a.content,
            anc.depth + 1
        FROM artifacts a
        INNER JOIN ancestry anc ON a.artifact_path = anc.parent_path
    )
    SELECT * FROM ancestry ORDER BY depth DESC;
END;
$$;


ALTER FUNCTION public.get_artifact_with_ancestry(path character varying) OWNER TO combine_admin;

--
-- Name: FUNCTION get_artifact_with_ancestry(path character varying); Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON FUNCTION public.get_artifact_with_ancestry(path character varying) IS 'Returns artifact with complete parent chain';


--
-- Name: parse_artifact_path(character varying); Type: FUNCTION; Schema: public; Owner: combine_admin
--

CREATE FUNCTION public.parse_artifact_path(path character varying) RETURNS TABLE(project_id character varying, epic_id character varying, feature_id character varying, story_id character varying)
    LANGUAGE plpgsql IMMUTABLE
    AS $$
DECLARE
    parts TEXT[];
BEGIN
    parts := string_to_array(path, '/');
    
    RETURN QUERY SELECT
        parts[1],
        CASE WHEN array_length(parts, 1) >= 2 THEN parts[2] ELSE NULL END,
        CASE WHEN array_length(parts, 1) >= 3 THEN parts[3] ELSE NULL END,
        CASE WHEN array_length(parts, 1) >= 4 THEN parts[4] ELSE NULL END;
END;
$$;


ALTER FUNCTION public.parse_artifact_path(path character varying) OWNER TO combine_admin;

--
-- Name: FUNCTION parse_artifact_path(path character varying); Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON FUNCTION public.parse_artifact_path(path character varying) IS 'Parses RSP-1 path into components';


--
-- Name: update_updated_at(); Type: FUNCTION; Schema: public; Owner: combine_admin
--

CREATE FUNCTION public.update_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at() OWNER TO combine_admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO combine_admin;

--
-- Name: auth_audit_log; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.auth_audit_log (
    log_id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid,
    event_type character varying(50) NOT NULL,
    provider_id character varying(50),
    ip_address inet,
    user_agent text,
    metadata jsonb,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.auth_audit_log OWNER TO combine_admin;

--
-- Name: component_artifacts; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.component_artifacts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    component_id character varying(150) NOT NULL,
    schema_artifact_id uuid NOT NULL,
    schema_id character varying(100) NOT NULL,
    generation_guidance jsonb NOT NULL,
    view_bindings jsonb NOT NULL,
    status character varying(20) DEFAULT 'draft'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by character varying(100),
    accepted_at timestamp with time zone,
    CONSTRAINT ck_component_artifacts_status CHECK (((status)::text = ANY ((ARRAY['draft'::character varying, 'accepted'::character varying])::text[])))
);


ALTER TABLE public.component_artifacts OWNER TO combine_admin;

--
-- Name: COLUMN component_artifacts.component_id; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.component_artifacts.component_id IS 'Canonical component ID with semver (e.g., component:OpenQuestionV1:1.0.0)';


--
-- Name: COLUMN component_artifacts.schema_artifact_id; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.component_artifacts.schema_artifact_id IS 'FK to schema_artifacts';


--
-- Name: COLUMN component_artifacts.schema_id; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.component_artifacts.schema_id IS 'Denormalized schema ID for convenience (e.g., schema:OpenQuestionV1)';


--
-- Name: COLUMN component_artifacts.generation_guidance; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.component_artifacts.generation_guidance IS 'Prompt generation bullets';


--
-- Name: COLUMN component_artifacts.view_bindings; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.component_artifacts.view_bindings IS 'Channel-specific fragment bindings';


--
-- Name: COLUMN component_artifacts.status; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.component_artifacts.status IS 'Lifecycle status: draft, accepted';


--
-- Name: COLUMN component_artifacts.accepted_at; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.component_artifacts.accepted_at IS 'Timestamp when status changed to accepted';


--
-- Name: document_definitions; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.document_definitions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    document_def_id character varying(150) NOT NULL,
    document_schema_id uuid,
    prompt_header jsonb NOT NULL,
    sections jsonb NOT NULL,
    status character varying(20) DEFAULT 'draft'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by character varying(100),
    accepted_at timestamp with time zone,
    CONSTRAINT ck_document_definitions_status CHECK (((status)::text = ANY ((ARRAY['draft'::character varying, 'accepted'::character varying])::text[])))
);


ALTER TABLE public.document_definitions OWNER TO combine_admin;

--
-- Name: COLUMN document_definitions.document_def_id; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.document_definitions.document_def_id IS 'Canonical docdef ID with semver (e.g., docdef:EpicBacklog:1.0.0)';


--
-- Name: COLUMN document_definitions.document_schema_id; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.document_definitions.document_schema_id IS 'Optional FK to document schema (nullable for MVP)';


--
-- Name: COLUMN document_definitions.prompt_header; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.document_definitions.prompt_header IS 'Role and constraints for prompt generation';


--
-- Name: COLUMN document_definitions.sections; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.document_definitions.sections IS 'Section definitions with component bindings';


--
-- Name: COLUMN document_definitions.status; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.document_definitions.status IS 'Lifecycle status: draft, accepted';


--
-- Name: COLUMN document_definitions.accepted_at; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.document_definitions.accepted_at IS 'Timestamp when status changed to accepted';


--
-- Name: document_relations; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.document_relations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    from_document_id uuid NOT NULL,
    to_document_id uuid NOT NULL,
    relation_type character varying(50) NOT NULL,
    pinned_version integer,
    pinned_revision character varying(64),
    notes text,
    relation_metadata jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by character varying(200),
    CONSTRAINT no_self_reference CHECK ((from_document_id <> to_document_id))
);


ALTER TABLE public.document_relations OWNER TO combine_admin;

--
-- Name: document_types; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.document_types (
    id uuid NOT NULL,
    doc_type_id character varying(100) NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    category character varying(100) NOT NULL,
    icon character varying(50),
    schema_definition jsonb,
    schema_version character varying(20) NOT NULL,
    builder_role character varying(50) NOT NULL,
    builder_task character varying(100) NOT NULL,
    system_prompt_id uuid,
    handler_id character varying(100) NOT NULL,
    required_inputs jsonb NOT NULL,
    optional_inputs jsonb NOT NULL,
    gating_rules jsonb NOT NULL,
    acceptance_required boolean NOT NULL,
    accepted_by_role character varying(64),
    scope character varying(50) NOT NULL,
    display_order integer NOT NULL,
    is_active boolean NOT NULL,
    version character varying(20) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by character varying(200),
    notes text,
    view_docdef character varying(100),
    status_badges jsonb,
    primary_action jsonb,
    display_config jsonb
);


ALTER TABLE public.document_types OWNER TO combine_admin;

--
-- Name: COLUMN document_types.acceptance_required; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.document_types.acceptance_required IS 'Whether this document type requires human acceptance before downstream use';


--
-- Name: COLUMN document_types.accepted_by_role; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.document_types.accepted_by_role IS 'Role that must accept this document type (pm, architect, etc.)';


--
-- Name: COLUMN document_types.view_docdef; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.document_types.view_docdef IS 'Document definition ID for rendering (e.g., EpicBacklogView)';


--
-- Name: COLUMN document_types.status_badges; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.document_types.status_badges IS 'State-specific badge configuration (icon, color, animate)';


--
-- Name: COLUMN document_types.primary_action; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.document_types.primary_action IS 'CTA configuration (label, icon, variant, tooltip)';


--
-- Name: COLUMN document_types.display_config; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.document_types.display_config IS 'General display configuration (variants, visibility rules)';


--
-- Name: documents; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.documents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    space_type character varying(50) NOT NULL,
    space_id uuid NOT NULL,
    doc_type_id character varying(100) NOT NULL,
    version integer NOT NULL,
    revision_hash character varying(64),
    is_latest boolean NOT NULL,
    title character varying(500) NOT NULL,
    summary text,
    content jsonb NOT NULL,
    status character varying(50) NOT NULL,
    is_stale boolean NOT NULL,
    accepted_at timestamp with time zone,
    accepted_by character varying(200),
    rejected_at timestamp with time zone,
    rejected_by character varying(200),
    rejection_reason text,
    created_by character varying(200),
    created_by_type character varying(50),
    builder_metadata jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    search_vector tsvector,
    parent_document_id uuid,
    schema_bundle_sha256 character varying(100),
    lifecycle_state public.document_lifecycle_state DEFAULT 'complete'::public.document_lifecycle_state NOT NULL,
    state_changed_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.documents OWNER TO combine_admin;

--
-- Name: COLUMN documents.accepted_at; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.documents.accepted_at IS 'Timestamp when document was accepted';


--
-- Name: COLUMN documents.accepted_by; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.documents.accepted_by IS 'User ID or identifier who accepted the document';


--
-- Name: COLUMN documents.rejected_at; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.documents.rejected_at IS 'Timestamp when document was rejected (most recent rejection)';


--
-- Name: COLUMN documents.rejected_by; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.documents.rejected_by IS 'User ID or identifier who rejected the document';


--
-- Name: COLUMN documents.rejection_reason; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.documents.rejection_reason IS 'Human-provided reason for rejection';


--
-- Name: COLUMN documents.parent_document_id; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.documents.parent_document_id IS 'Parent document for ownership hierarchy (ADR-011-Part-2)';


--
-- Name: COLUMN documents.schema_bundle_sha256; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.documents.schema_bundle_sha256 IS 'Schema bundle hash at generation time (e.g., sha256:abc123...)';


--
-- Name: COLUMN documents.lifecycle_state; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.documents.lifecycle_state IS 'ADR-036 lifecycle state: generating, partial, complete, stale';


--
-- Name: COLUMN documents.state_changed_at; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.documents.state_changed_at IS 'Timestamp of last lifecycle state change';


--
-- Name: files; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.files (
    id uuid NOT NULL,
    file_path character varying(500) NOT NULL,
    content text,
    content_hash character varying(64),
    file_type character varying(50),
    size_bytes integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    search_vector tsvector
);


ALTER TABLE public.files OWNER TO combine_admin;

--
-- Name: fragment_artifacts; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.fragment_artifacts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    fragment_id character varying(100) NOT NULL,
    version character varying(20) DEFAULT '1.0'::character varying NOT NULL,
    schema_type_id character varying(100) NOT NULL,
    status character varying(20) DEFAULT 'draft'::character varying NOT NULL,
    fragment_markup text NOT NULL,
    sha256 character varying(64) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by character varying(100),
    updated_at timestamp with time zone,
    CONSTRAINT ck_fragment_artifacts_status CHECK (((status)::text = ANY ((ARRAY['draft'::character varying, 'accepted'::character varying, 'deprecated'::character varying])::text[])))
);


ALTER TABLE public.fragment_artifacts OWNER TO combine_admin;

--
-- Name: COLUMN fragment_artifacts.fragment_id; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.fragment_artifacts.fragment_id IS 'Fragment identifier (e.g., OpenQuestionV1Fragment)';


--
-- Name: COLUMN fragment_artifacts.version; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.fragment_artifacts.version IS 'Fragment version';


--
-- Name: COLUMN fragment_artifacts.schema_type_id; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.fragment_artifacts.schema_type_id IS 'Canonical schema type this fragment renders';


--
-- Name: COLUMN fragment_artifacts.status; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.fragment_artifacts.status IS 'Lifecycle status: draft, accepted, deprecated';


--
-- Name: COLUMN fragment_artifacts.fragment_markup; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.fragment_artifacts.fragment_markup IS 'HTML/Jinja2 template content';


--
-- Name: COLUMN fragment_artifacts.sha256; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.fragment_artifacts.sha256 IS 'SHA256 hash of fragment_markup';


--
-- Name: fragment_bindings; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.fragment_bindings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    schema_type_id character varying(100) NOT NULL,
    fragment_id character varying(100) NOT NULL,
    fragment_version character varying(20) NOT NULL,
    is_active boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by character varying(100)
);


ALTER TABLE public.fragment_bindings OWNER TO combine_admin;

--
-- Name: COLUMN fragment_bindings.schema_type_id; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.fragment_bindings.schema_type_id IS 'Canonical schema type ID';


--
-- Name: COLUMN fragment_bindings.fragment_id; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.fragment_bindings.fragment_id IS 'Bound fragment ID';


--
-- Name: COLUMN fragment_bindings.fragment_version; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.fragment_bindings.fragment_version IS 'Bound fragment version';


--
-- Name: COLUMN fragment_bindings.is_active; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.fragment_bindings.is_active IS 'Whether this binding is active';


--
-- Name: link_intent_nonces; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.link_intent_nonces (
    nonce character varying(64) NOT NULL,
    user_id uuid NOT NULL,
    provider_id character varying(50) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    expires_at timestamp with time zone NOT NULL
);


ALTER TABLE public.link_intent_nonces OWNER TO combine_admin;

--
-- Name: llm_content; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.llm_content (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    content_hash text NOT NULL,
    content_text text NOT NULL,
    content_size integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    accessed_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.llm_content OWNER TO combine_admin;

--
-- Name: TABLE llm_content; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON TABLE public.llm_content IS 'Content storage for LLM inputs/outputs (ADR-010)';


--
-- Name: llm_ledger_entries; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.llm_ledger_entries (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    thread_id uuid NOT NULL,
    work_item_id uuid,
    entry_type character varying(50) NOT NULL,
    payload jsonb NOT NULL,
    payload_hash character varying(64),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.llm_ledger_entries OWNER TO combine_admin;

--
-- Name: llm_run; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.llm_run (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    correlation_id uuid NOT NULL,
    project_id uuid,
    artifact_type text,
    role text NOT NULL,
    model_provider text NOT NULL,
    model_name text NOT NULL,
    prompt_id text NOT NULL,
    prompt_version text NOT NULL,
    effective_prompt_hash text NOT NULL,
    schema_version text,
    status text NOT NULL,
    started_at timestamp with time zone NOT NULL,
    ended_at timestamp with time zone,
    input_tokens integer,
    output_tokens integer,
    total_tokens integer,
    cost_usd numeric(10,6),
    primary_error_code text,
    primary_error_message text,
    error_count integer DEFAULT 0 NOT NULL,
    metadata jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    schema_id character varying(100),
    schema_bundle_hash character varying(64)
);


ALTER TABLE public.llm_run OWNER TO combine_admin;

--
-- Name: TABLE llm_run; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON TABLE public.llm_run IS 'LLM execution records (ADR-010)';


--
-- Name: COLUMN llm_run.schema_id; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.llm_run.schema_id IS 'Root schema identifier per ADR-031 (e.g., EpicBacklogV2)';


--
-- Name: COLUMN llm_run.schema_bundle_hash; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.llm_run.schema_bundle_hash IS 'SHA256 hash of resolved schema bundle per ADR-031';


--
-- Name: llm_run_error; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.llm_run_error (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    llm_run_id uuid NOT NULL,
    sequence integer NOT NULL,
    stage text NOT NULL,
    severity text NOT NULL,
    error_code text,
    message text NOT NULL,
    details jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.llm_run_error OWNER TO combine_admin;

--
-- Name: TABLE llm_run_error; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON TABLE public.llm_run_error IS 'LLM execution errors (many-per-run model, ADR-010)';


--
-- Name: llm_run_input_ref; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.llm_run_input_ref (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    llm_run_id uuid NOT NULL,
    kind text NOT NULL,
    content_ref text NOT NULL,
    content_hash text NOT NULL,
    content_redacted boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.llm_run_input_ref OWNER TO combine_admin;

--
-- Name: TABLE llm_run_input_ref; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON TABLE public.llm_run_input_ref IS 'LLM input references by content_ref (ADR-010)';


--
-- Name: llm_run_output_ref; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.llm_run_output_ref (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    llm_run_id uuid NOT NULL,
    kind text NOT NULL,
    content_ref text NOT NULL,
    content_hash text NOT NULL,
    parse_status text,
    validation_status text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.llm_run_output_ref OWNER TO combine_admin;

--
-- Name: TABLE llm_run_output_ref; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON TABLE public.llm_run_output_ref IS 'LLM output references by content_ref (ADR-010)';


--
-- Name: llm_run_tool_call; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.llm_run_tool_call (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    llm_run_id uuid NOT NULL,
    sequence integer NOT NULL,
    tool_name text NOT NULL,
    started_at timestamp with time zone NOT NULL,
    ended_at timestamp with time zone,
    status text NOT NULL,
    input_ref text NOT NULL,
    output_ref text,
    error_ref text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.llm_run_tool_call OWNER TO combine_admin;

--
-- Name: TABLE llm_run_tool_call; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON TABLE public.llm_run_tool_call IS 'Tool call tracking (ADR-010) - UNUSED IN MVP, reserved for future';


--
-- Name: llm_threads; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.llm_threads (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    kind character varying(100) NOT NULL,
    space_type character varying(50) NOT NULL,
    space_id uuid NOT NULL,
    target_ref jsonb NOT NULL,
    status character varying(20) DEFAULT 'open'::character varying NOT NULL,
    parent_thread_id uuid,
    idempotency_key character varying(255),
    created_by character varying(100),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    closed_at timestamp with time zone
);


ALTER TABLE public.llm_threads OWNER TO combine_admin;

--
-- Name: llm_work_items; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.llm_work_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    thread_id uuid NOT NULL,
    sequence integer DEFAULT 1 NOT NULL,
    status character varying(20) DEFAULT 'queued'::character varying NOT NULL,
    attempt integer DEFAULT 1 NOT NULL,
    lock_scope character varying(255),
    not_before timestamp with time zone,
    error_code character varying(50),
    error_message text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    started_at timestamp with time zone,
    finished_at timestamp with time zone
);


ALTER TABLE public.llm_work_items OWNER TO combine_admin;

--
-- Name: personal_access_tokens; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.personal_access_tokens (
    token_id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    token_name character varying(100) NOT NULL,
    token_display character varying(50) NOT NULL,
    key_id character varying(20) NOT NULL,
    secret_hash character varying(64) NOT NULL,
    last_used_at timestamp with time zone,
    expires_at timestamp with time zone,
    token_created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    is_active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.personal_access_tokens OWNER TO combine_admin;

--
-- Name: project_audit; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.project_audit (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    project_id uuid NOT NULL,
    actor_user_id uuid,
    action character varying NOT NULL,
    reason text,
    metadata jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_project_audit_action CHECK (((action)::text = ANY ((ARRAY['CREATED'::character varying, 'UPDATED'::character varying, 'ARCHIVED'::character varying, 'UNARCHIVED'::character varying, 'EDIT_BLOCKED_ARCHIVED'::character varying])::text[])))
);


ALTER TABLE public.project_audit OWNER TO combine_admin;

--
-- Name: TABLE project_audit; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON TABLE public.project_audit IS 'Append-only audit log for project lifecycle events. Immutable.';


--
-- Name: COLUMN project_audit.actor_user_id; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.project_audit.actor_user_id IS 'User who performed action. NULL for system/agent actions.';


--
-- Name: COLUMN project_audit.metadata; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.project_audit.metadata IS 'Structured audit context: client, correlation_id, changed_fields, before/after, etc.';


--
-- Name: projects; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.projects (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    project_id character varying(50) NOT NULL,
    name character varying(200) NOT NULL,
    description text,
    status character varying(50) DEFAULT 'active'::character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by character varying(100),
    metadata jsonb DEFAULT '{}'::jsonb,
    icon character varying(32) DEFAULT 'folder'::character varying,
    owner_id uuid,
    organization_id uuid,
    archived_at timestamp with time zone,
    archived_by uuid,
    archived_reason text,
    CONSTRAINT projects_project_id_format CHECK (((project_id)::text ~ '^[A-Z0-9_]{1,50}$'::text))
);


ALTER TABLE public.projects OWNER TO combine_admin;

--
-- Name: TABLE projects; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON TABLE public.projects IS 'Top-level project container (e.g., Healthcare Marketplace Project)';


--
-- Name: COLUMN projects.project_id; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.projects.project_id IS 'Short project identifier like HMP, GARDEN, APB';


--
-- Name: COLUMN projects.metadata; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.projects.metadata IS 'Flexible storage for project-level config, tags, etc.';


--
-- Name: COLUMN projects.archived_at; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.projects.archived_at IS 'Timestamp when project was archived. NULL = active, NOT NULL = archived.';


--
-- Name: COLUMN projects.archived_by; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.projects.archived_by IS 'User who archived the project. NULL for system-initiated archives.';


--
-- Name: COLUMN projects.archived_reason; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.projects.archived_reason IS 'Current archive reason. Cleared on unarchive; history in project_audit.';


--
-- Name: role_prompts; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.role_prompts (
    id character varying(64) NOT NULL,
    role_name character varying(64) NOT NULL,
    version character varying(16) NOT NULL,
    instructions text NOT NULL,
    expected_schema json,
    is_active boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by character varying(128),
    notes text
);


ALTER TABLE public.role_prompts OWNER TO combine_admin;

--
-- Name: role_tasks; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.role_tasks (
    id uuid NOT NULL,
    role_id uuid NOT NULL,
    task_name character varying(100) NOT NULL,
    task_prompt text NOT NULL,
    expected_schema jsonb,
    progress_steps jsonb,
    is_active boolean NOT NULL,
    version character varying(16) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by character varying(128),
    notes text
);


ALTER TABLE public.role_tasks OWNER TO combine_admin;

--
-- Name: TABLE role_tasks; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON TABLE public.role_tasks IS 'Task-specific prompts and schemas for each role';


--
-- Name: COLUMN role_tasks.task_name; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.role_tasks.task_name IS 'Task identifier: preliminary, final, epic_creation, story_breakdown, etc.';


--
-- Name: COLUMN role_tasks.task_prompt; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.role_tasks.task_prompt IS 'The "what you are doing" prompt portion for this specific task';


--
-- Name: COLUMN role_tasks.expected_schema; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.role_tasks.expected_schema IS 'JSON schema defining expected output structure';


--
-- Name: roles; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.roles (
    id uuid NOT NULL,
    name character varying(50) NOT NULL,
    identity_prompt text NOT NULL,
    description text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.roles OWNER TO combine_admin;

--
-- Name: TABLE roles; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON TABLE public.roles IS 'Defines mentor role identities (Architect, PM, BA, Developer, QA)';


--
-- Name: COLUMN roles.name; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.roles.name IS 'Role identifier: architect, pm, ba, developer, qa';


--
-- Name: COLUMN roles.identity_prompt; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.roles.identity_prompt IS 'The "who you are" prompt portion shared across all tasks';


--
-- Name: schema_artifacts; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.schema_artifacts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    schema_id character varying(100) NOT NULL,
    version character varying(20) DEFAULT '1.0'::character varying NOT NULL,
    kind character varying(20) NOT NULL,
    status character varying(20) DEFAULT 'draft'::character varying NOT NULL,
    schema_json jsonb NOT NULL,
    sha256 character varying(64) NOT NULL,
    governance_refs jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by character varying(100),
    updated_at timestamp with time zone,
    CONSTRAINT ck_schema_artifacts_kind CHECK (((kind)::text = ANY ((ARRAY['type'::character varying, 'document'::character varying, 'envelope'::character varying])::text[]))),
    CONSTRAINT ck_schema_artifacts_status CHECK (((status)::text = ANY ((ARRAY['draft'::character varying, 'accepted'::character varying, 'deprecated'::character varying])::text[])))
);


ALTER TABLE public.schema_artifacts OWNER TO combine_admin;

--
-- Name: COLUMN schema_artifacts.schema_id; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.schema_artifacts.schema_id IS 'Canonical schema identifier (e.g., OpenQuestionV1)';


--
-- Name: COLUMN schema_artifacts.version; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.schema_artifacts.version IS 'Schema version';


--
-- Name: COLUMN schema_artifacts.kind; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.schema_artifacts.kind IS 'Schema kind: type, document, envelope';


--
-- Name: COLUMN schema_artifacts.status; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.schema_artifacts.status IS 'Lifecycle status: draft, accepted, deprecated';


--
-- Name: COLUMN schema_artifacts.schema_json; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.schema_artifacts.schema_json IS 'The canonical JSON Schema';


--
-- Name: COLUMN schema_artifacts.sha256; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.schema_artifacts.sha256 IS 'SHA256 hash of schema_json';


--
-- Name: COLUMN schema_artifacts.governance_refs; Type: COMMENT; Schema: public; Owner: combine_admin
--

COMMENT ON COLUMN public.schema_artifacts.governance_refs IS 'References to governing ADRs and policies';


--
-- Name: user_oauth_identities; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.user_oauth_identities (
    identity_id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    provider_id character varying(50) NOT NULL,
    provider_user_id character varying(255) NOT NULL,
    provider_email character varying(255),
    email_verified boolean DEFAULT false NOT NULL,
    provider_metadata jsonb,
    identity_created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    last_used_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.user_oauth_identities OWNER TO combine_admin;

--
-- Name: user_sessions; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.user_sessions (
    session_id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    session_token character varying(255) NOT NULL,
    csrf_token character varying(255) NOT NULL,
    ip_address inet,
    user_agent text,
    session_created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    last_activity_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    expires_at timestamp with time zone NOT NULL
);


ALTER TABLE public.user_sessions OWNER TO combine_admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: combine_admin
--

CREATE TABLE public.users (
    user_id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    email_verified boolean DEFAULT false NOT NULL,
    name character varying(255) NOT NULL,
    avatar_url text,
    is_active boolean DEFAULT true NOT NULL,
    user_created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    user_updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    last_login_at timestamp with time zone
);


ALTER TABLE public.users OWNER TO combine_admin;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: combine_admin
--

COPY public.alembic_version (version_num) FROM stdin;
20260112_004
\.


--
-- Data for Name: auth_audit_log; Type: TABLE DATA; Schema: public; Owner: combine_admin
--



--
-- Data for Name: component_artifacts; Type: TABLE DATA; Schema: public; Owner: combine_admin
--



--
-- Data for Name: document_definitions; Type: TABLE DATA; Schema: public; Owner: combine_admin
--



--
-- Data for Name: document_relations; Type: TABLE DATA; Schema: public; Owner: combine_admin
--



--
-- Data for Name: document_types; Type: TABLE DATA; Schema: public; Owner: combine_admin
--



--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: combine_admin
--



--
-- Data for Name: files; Type: TABLE DATA; Schema: public; Owner: combine_admin
--

COPY public.files (id, file_path, content, content_hash, file_type, size_bytes, created_at, updated_at, search_vector) FROM stdin;
\.


--
-- Data for Name: fragment_artifacts; Type: TABLE DATA; Schema: public; Owner: combine_admin
--



--
-- Data for Name: fragment_bindings; Type: TABLE DATA; Schema: public; Owner: combine_admin
--



--
-- Data for Name: link_intent_nonces; Type: TABLE DATA; Schema: public; Owner: combine_admin
--

COPY public.link_intent_nonces (nonce, user_id, provider_id, created_at, expires_at) FROM stdin;
\.


--
-- Data for Name: llm_content; Type: TABLE DATA; Schema: public; Owner: combine_admin
--



--
-- Data for Name: llm_ledger_entries; Type: TABLE DATA; Schema: public; Owner: combine_admin
--

COPY public.llm_ledger_entries (id, thread_id, work_item_id, entry_type, payload, payload_hash, created_at) FROM stdin;
\.


--
-- Data for Name: llm_run; Type: TABLE DATA; Schema: public; Owner: combine_admin
--



--
-- Data for Name: llm_run_error; Type: TABLE DATA; Schema: public; Owner: combine_admin
--



--
-- Data for Name: llm_run_input_ref; Type: TABLE DATA; Schema: public; Owner: combine_admin
--



--
-- Data for Name: llm_run_output_ref; Type: TABLE DATA; Schema: public; Owner: combine_admin
--



--
-- Data for Name: llm_run_tool_call; Type: TABLE DATA; Schema: public; Owner: combine_admin
--

COPY public.llm_run_tool_call (id, llm_run_id, sequence, tool_name, started_at, ended_at, status, input_ref, output_ref, error_ref, created_at) FROM stdin;
\.


--
-- Data for Name: llm_threads; Type: TABLE DATA; Schema: public; Owner: combine_admin
--

COPY public.llm_threads (id, kind, space_type, space_id, target_ref, status, parent_thread_id, idempotency_key, created_by, created_at, closed_at) FROM stdin;
\.


--
-- Data for Name: llm_work_items; Type: TABLE DATA; Schema: public; Owner: combine_admin
--

COPY public.llm_work_items (id, thread_id, sequence, status, attempt, lock_scope, not_before, error_code, error_message, created_at, started_at, finished_at) FROM stdin;
\.


--
-- Data for Name: personal_access_tokens; Type: TABLE DATA; Schema: public; Owner: combine_admin
--

COPY public.personal_access_tokens (token_id, user_id, token_name, token_display, key_id, secret_hash, last_used_at, expires_at, token_created_at, is_active) FROM stdin;
\.


--
-- Data for Name: project_audit; Type: TABLE DATA; Schema: public; Owner: combine_admin
--

COPY public.project_audit (id, project_id, actor_user_id, action, reason, metadata, created_at) FROM stdin;
b5a8c748-5e3e-4ff1-9dd6-384d7423b7a9	607d466b-084a-4ef8-a9c7-36ae593d3c65	\N	CREATED	\N	{"after": {"icon": "folder", "name": "portal", "project_id": "PORTAL"}, "client": "migration", "backfill": true, "meta_version": "1.0"}	2025-12-30 21:07:32.525411+00
\.


--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: combine_admin
--



--
-- Data for Name: role_prompts; Type: TABLE DATA; Schema: public; Owner: combine_admin
--

COPY public.role_prompts (id, role_name, version, instructions, expected_schema, is_active, created_at, updated_at, created_by, notes) FROM stdin;
\.


--
-- Data for Name: role_tasks; Type: TABLE DATA; Schema: public; Owner: combine_admin
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: combine_admin
--



--
-- Data for Name: schema_artifacts; Type: TABLE DATA; Schema: public; Owner: combine_admin
--



--
-- Data for Name: user_oauth_identities; Type: TABLE DATA; Schema: public; Owner: combine_admin
--

COPY public.user_oauth_identities (identity_id, user_id, provider_id, provider_user_id, provider_email, email_verified, provider_metadata, identity_created_at, last_used_at) FROM stdin;
9bece5e4-1e4b-4a32-b3f1-5b6843d95335	4763c52e-9c69-4857-be2e-ae72b6de5c63	google	117744539029974833830	tommoseley@outlook.com	t	{"sub": "117744539029974833830", "name": "Tom Moseley", "email": "tommoseley@outlook.com"}	2026-01-08 01:45:23.015712+00	2026-01-08 01:45:23.015712+00
\.


--
-- Data for Name: user_sessions; Type: TABLE DATA; Schema: public; Owner: combine_admin
--

COPY public.user_sessions (session_id, user_id, session_token, csrf_token, ip_address, user_agent, session_created_at, last_activity_at, expires_at) FROM stdin;
f02d9176-27f6-4cc0-aeda-86734d3b07f0	4763c52e-9c69-4857-be2e-ae72b6de5c63	Z-CbXY0a7vG70ZjfnUPgIUQghPI1FDXPWoaImHppmPM	bNoQdVKjLr3LHtDZ4LNHYUs6P6hobbxn6eYLX1cpDWY	75.189.68.234	Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36 Edg/143.0.0.0	2026-01-08 01:46:00.879298+00	2026-01-13 04:10:06.222642+00	2026-02-07 01:46:00.879298+00
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: combine_admin
--

COPY public.users (user_id, email, email_verified, name, avatar_url, is_active, user_created_at, user_updated_at, last_login_at) FROM stdin;
4763c52e-9c69-4857-be2e-ae72b6de5c63	tommoseley@outlook.com	t	Tom Moseley	https://lh3.googleusercontent.com/a/ACg8ocJ2ElLmf2mq7DL6KAOH4soOXjRmG0-lr-R5moti-0smGpqqm8A=s96-c	t	2026-01-08 01:45:23.015712+00	2026-01-08 01:45:23.015712+00	2026-01-08 01:46:00.875167+00
\.


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: auth_audit_log auth_audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.auth_audit_log
    ADD CONSTRAINT auth_audit_log_pkey PRIMARY KEY (log_id);


--
-- Name: component_artifacts component_artifacts_component_id_key; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.component_artifacts
    ADD CONSTRAINT component_artifacts_component_id_key UNIQUE (component_id);


--
-- Name: component_artifacts component_artifacts_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.component_artifacts
    ADD CONSTRAINT component_artifacts_pkey PRIMARY KEY (id);


--
-- Name: document_definitions document_definitions_document_def_id_key; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.document_definitions
    ADD CONSTRAINT document_definitions_document_def_id_key UNIQUE (document_def_id);


--
-- Name: document_definitions document_definitions_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.document_definitions
    ADD CONSTRAINT document_definitions_pkey PRIMARY KEY (id);


--
-- Name: document_relations document_relations_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.document_relations
    ADD CONSTRAINT document_relations_pkey PRIMARY KEY (id);


--
-- Name: document_types document_types_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.document_types
    ADD CONSTRAINT document_types_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: files files_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT files_pkey PRIMARY KEY (id);


--
-- Name: fragment_artifacts fragment_artifacts_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.fragment_artifacts
    ADD CONSTRAINT fragment_artifacts_pkey PRIMARY KEY (id);


--
-- Name: fragment_bindings fragment_bindings_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.fragment_bindings
    ADD CONSTRAINT fragment_bindings_pkey PRIMARY KEY (id);


--
-- Name: link_intent_nonces link_intent_nonces_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.link_intent_nonces
    ADD CONSTRAINT link_intent_nonces_pkey PRIMARY KEY (nonce);


--
-- Name: llm_content llm_content_content_hash_key; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.llm_content
    ADD CONSTRAINT llm_content_content_hash_key UNIQUE (content_hash);


--
-- Name: llm_content llm_content_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.llm_content
    ADD CONSTRAINT llm_content_pkey PRIMARY KEY (id);


--
-- Name: llm_ledger_entries llm_ledger_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.llm_ledger_entries
    ADD CONSTRAINT llm_ledger_entries_pkey PRIMARY KEY (id);


--
-- Name: llm_run_error llm_run_error_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.llm_run_error
    ADD CONSTRAINT llm_run_error_pkey PRIMARY KEY (id);


--
-- Name: llm_run_input_ref llm_run_input_ref_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.llm_run_input_ref
    ADD CONSTRAINT llm_run_input_ref_pkey PRIMARY KEY (id);


--
-- Name: llm_run_output_ref llm_run_output_ref_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.llm_run_output_ref
    ADD CONSTRAINT llm_run_output_ref_pkey PRIMARY KEY (id);


--
-- Name: llm_run llm_run_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.llm_run
    ADD CONSTRAINT llm_run_pkey PRIMARY KEY (id);


--
-- Name: llm_run_tool_call llm_run_tool_call_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.llm_run_tool_call
    ADD CONSTRAINT llm_run_tool_call_pkey PRIMARY KEY (id);


--
-- Name: llm_threads llm_threads_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.llm_threads
    ADD CONSTRAINT llm_threads_pkey PRIMARY KEY (id);


--
-- Name: llm_work_items llm_work_items_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.llm_work_items
    ADD CONSTRAINT llm_work_items_pkey PRIMARY KEY (id);


--
-- Name: user_oauth_identities oauth_provider_user_unique; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.user_oauth_identities
    ADD CONSTRAINT oauth_provider_user_unique UNIQUE (provider_id, provider_user_id);


--
-- Name: personal_access_tokens personal_access_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_pkey PRIMARY KEY (token_id);


--
-- Name: project_audit project_audit_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.project_audit
    ADD CONSTRAINT project_audit_pkey PRIMARY KEY (id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: projects projects_project_id_key; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_project_id_key UNIQUE (project_id);


--
-- Name: role_prompts role_prompts_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.role_prompts
    ADD CONSTRAINT role_prompts_pkey PRIMARY KEY (id);


--
-- Name: role_tasks role_tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.role_tasks
    ADD CONSTRAINT role_tasks_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: schema_artifacts schema_artifacts_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.schema_artifacts
    ADD CONSTRAINT schema_artifacts_pkey PRIMARY KEY (id);


--
-- Name: document_relations unique_relation; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.document_relations
    ADD CONSTRAINT unique_relation UNIQUE (from_document_id, to_document_id, relation_type);


--
-- Name: llm_run_error uq_llm_run_error_sequence; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.llm_run_error
    ADD CONSTRAINT uq_llm_run_error_sequence UNIQUE (llm_run_id, sequence);


--
-- Name: llm_run_tool_call uq_llm_run_tool_call_sequence; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.llm_run_tool_call
    ADD CONSTRAINT uq_llm_run_tool_call_sequence UNIQUE (llm_run_id, sequence);


--
-- Name: role_tasks uq_role_task; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.role_tasks
    ADD CONSTRAINT uq_role_task UNIQUE (role_id, task_name, version);


--
-- Name: llm_work_items uq_work_item_thread_sequence; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.llm_work_items
    ADD CONSTRAINT uq_work_item_thread_sequence UNIQUE (thread_id, sequence);


--
-- Name: user_oauth_identities user_oauth_identities_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.user_oauth_identities
    ADD CONSTRAINT user_oauth_identities_pkey PRIMARY KEY (identity_id);


--
-- Name: user_sessions user_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_pkey PRIMARY KEY (session_id);


--
-- Name: user_sessions user_sessions_session_token_unique; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_session_token_unique UNIQUE (session_token);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: idx_auth_log_created; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_auth_log_created ON public.auth_audit_log USING btree (created_at DESC);


--
-- Name: idx_auth_log_event; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_auth_log_event ON public.auth_audit_log USING btree (event_type);


--
-- Name: idx_auth_log_user; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_auth_log_user ON public.auth_audit_log USING btree (user_id);


--
-- Name: idx_document_types_acceptance_required; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_document_types_acceptance_required ON public.document_types USING btree (acceptance_required) WHERE (acceptance_required = true);


--
-- Name: idx_document_types_active; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_document_types_active ON public.document_types USING btree (is_active);


--
-- Name: idx_document_types_builder; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_document_types_builder ON public.document_types USING btree (builder_role, builder_task);


--
-- Name: idx_document_types_category; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_document_types_category ON public.document_types USING btree (category);


--
-- Name: idx_document_types_required_inputs; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_document_types_required_inputs ON public.document_types USING gin (required_inputs);


--
-- Name: idx_document_types_scope; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_document_types_scope ON public.document_types USING btree (scope);


--
-- Name: idx_documents_acceptance; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_documents_acceptance ON public.documents USING btree (accepted_at, rejected_at) WHERE (is_latest = true);


--
-- Name: idx_documents_lifecycle_state; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_documents_lifecycle_state ON public.documents USING btree (lifecycle_state);


--
-- Name: idx_documents_parent; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_documents_parent ON public.documents USING btree (parent_document_id) WHERE (parent_document_id IS NOT NULL);


--
-- Name: idx_documents_schema_bundle; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_documents_schema_bundle ON public.documents USING btree (schema_bundle_sha256) WHERE (schema_bundle_sha256 IS NOT NULL);


--
-- Name: idx_documents_search; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_documents_search ON public.documents USING gin (search_vector);


--
-- Name: idx_documents_space; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_documents_space ON public.documents USING btree (space_type, space_id);


--
-- Name: idx_documents_status; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_documents_status ON public.documents USING btree (status);


--
-- Name: idx_documents_type; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_documents_type ON public.documents USING btree (doc_type_id);


--
-- Name: idx_documents_unique_latest; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE UNIQUE INDEX idx_documents_unique_latest ON public.documents USING btree (space_type, space_id, doc_type_id) WHERE (is_latest = true);


--
-- Name: idx_files_hash; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_files_hash ON public.files USING btree (content_hash);


--
-- Name: idx_files_path; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_files_path ON public.files USING btree (file_path);


--
-- Name: idx_files_search; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_files_search ON public.files USING gin (search_vector);


--
-- Name: idx_files_type; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_files_type ON public.files USING btree (file_type);


--
-- Name: idx_ledger_thread; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_ledger_thread ON public.llm_ledger_entries USING btree (thread_id);


--
-- Name: idx_link_nonces_expires; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_link_nonces_expires ON public.link_intent_nonces USING btree (expires_at);


--
-- Name: idx_link_nonces_user; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_link_nonces_user ON public.link_intent_nonces USING btree (user_id);


--
-- Name: idx_llm_content_accessed; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_llm_content_accessed ON public.llm_content USING btree (accessed_at);


--
-- Name: idx_llm_content_hash; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_llm_content_hash ON public.llm_content USING btree (content_hash);


--
-- Name: idx_llm_error_run; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_llm_error_run ON public.llm_run_error USING btree (llm_run_id);


--
-- Name: idx_llm_error_severity; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_llm_error_severity ON public.llm_run_error USING btree (severity);


--
-- Name: idx_llm_error_stage; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_llm_error_stage ON public.llm_run_error USING btree (stage);


--
-- Name: idx_llm_input_ref_kind; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_llm_input_ref_kind ON public.llm_run_input_ref USING btree (llm_run_id, kind);


--
-- Name: idx_llm_input_ref_run; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_llm_input_ref_run ON public.llm_run_input_ref USING btree (llm_run_id);


--
-- Name: idx_llm_output_ref_kind; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_llm_output_ref_kind ON public.llm_run_output_ref USING btree (llm_run_id, kind);


--
-- Name: idx_llm_output_ref_run; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_llm_output_ref_run ON public.llm_run_output_ref USING btree (llm_run_id);


--
-- Name: idx_llm_run_correlation; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_llm_run_correlation ON public.llm_run USING btree (correlation_id);


--
-- Name: idx_llm_run_project_time; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_llm_run_project_time ON public.llm_run USING btree (project_id, started_at DESC) WHERE (project_id IS NOT NULL);


--
-- Name: idx_llm_run_role_time; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_llm_run_role_time ON public.llm_run USING btree (role, started_at DESC);


--
-- Name: idx_llm_run_started; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_llm_run_started ON public.llm_run USING btree (started_at DESC);


--
-- Name: idx_llm_run_status; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_llm_run_status ON public.llm_run USING btree (status);


--
-- Name: idx_llm_tool_call_name; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_llm_tool_call_name ON public.llm_run_tool_call USING btree (tool_name);


--
-- Name: idx_llm_tool_call_run; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_llm_tool_call_run ON public.llm_run_tool_call USING btree (llm_run_id);


--
-- Name: idx_llm_tool_call_status; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_llm_tool_call_status ON public.llm_run_tool_call USING btree (status);


--
-- Name: idx_oauth_provider; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_oauth_provider ON public.user_oauth_identities USING btree (provider_id);


--
-- Name: idx_oauth_user_id; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_oauth_user_id ON public.user_oauth_identities USING btree (user_id);


--
-- Name: idx_pat_active; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_pat_active ON public.personal_access_tokens USING btree (is_active) WHERE (is_active = true);


--
-- Name: idx_pat_token_id; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_pat_token_id ON public.personal_access_tokens USING btree (token_id);


--
-- Name: idx_pat_user; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_pat_user ON public.personal_access_tokens USING btree (user_id);


--
-- Name: idx_project_audit_action_created; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_project_audit_action_created ON public.project_audit USING btree (action, created_at DESC);


--
-- Name: idx_project_audit_actor_created; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_project_audit_actor_created ON public.project_audit USING btree (actor_user_id, created_at DESC);


--
-- Name: idx_project_audit_project_created; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_project_audit_project_created ON public.project_audit USING btree (project_id, created_at DESC);


--
-- Name: idx_projects_archived; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_projects_archived ON public.projects USING btree (archived_at) WHERE (archived_at IS NOT NULL);


--
-- Name: idx_projects_created_at; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_projects_created_at ON public.projects USING btree (created_at);


--
-- Name: idx_projects_project_id; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_projects_project_id ON public.projects USING btree (project_id);


--
-- Name: idx_projects_status; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_projects_status ON public.projects USING btree (status);


--
-- Name: idx_relations_from; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_relations_from ON public.document_relations USING btree (from_document_id);


--
-- Name: idx_relations_to; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_relations_to ON public.document_relations USING btree (to_document_id);


--
-- Name: idx_relations_type; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_relations_type ON public.document_relations USING btree (relation_type);


--
-- Name: idx_role_prompts_active; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_role_prompts_active ON public.role_prompts USING btree (is_active);


--
-- Name: idx_role_prompts_role_name; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_role_prompts_role_name ON public.role_prompts USING btree (role_name);


--
-- Name: idx_role_prompts_version; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_role_prompts_version ON public.role_prompts USING btree (role_name, version);


--
-- Name: idx_role_tasks_active; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_role_tasks_active ON public.role_tasks USING btree (role_id, is_active) WHERE (is_active = true);


--
-- Name: idx_role_tasks_lookup; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_role_tasks_lookup ON public.role_tasks USING btree (role_id, task_name, is_active);


--
-- Name: idx_role_tasks_role_id; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_role_tasks_role_id ON public.role_tasks USING btree (role_id);


--
-- Name: idx_roles_name; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_roles_name ON public.roles USING btree (name);


--
-- Name: idx_session_expires; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_session_expires ON public.user_sessions USING btree (expires_at);


--
-- Name: idx_session_token; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE UNIQUE INDEX idx_session_token ON public.user_sessions USING btree (session_token);


--
-- Name: idx_session_user_id; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_session_user_id ON public.user_sessions USING btree (user_id);


--
-- Name: idx_threads_space; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_threads_space ON public.llm_threads USING btree (space_type, space_id, status);


--
-- Name: idx_users_active; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_users_active ON public.users USING btree (is_active) WHERE (is_active = true);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_work_items_queued; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_work_items_queued ON public.llm_work_items USING btree (status) WHERE ((status)::text = 'queued'::text);


--
-- Name: idx_work_items_thread; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX idx_work_items_thread ON public.llm_work_items USING btree (thread_id);


--
-- Name: ix_component_artifacts_accepted_at; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_component_artifacts_accepted_at ON public.component_artifacts USING btree (accepted_at);


--
-- Name: ix_component_artifacts_schema_artifact_id; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_component_artifacts_schema_artifact_id ON public.component_artifacts USING btree (schema_artifact_id);


--
-- Name: ix_component_artifacts_status; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_component_artifacts_status ON public.component_artifacts USING btree (status);


--
-- Name: ix_document_definitions_accepted_at; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_document_definitions_accepted_at ON public.document_definitions USING btree (accepted_at);


--
-- Name: ix_document_definitions_status; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_document_definitions_status ON public.document_definitions USING btree (status);


--
-- Name: ix_document_relations_from_document_id; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_document_relations_from_document_id ON public.document_relations USING btree (from_document_id);


--
-- Name: ix_document_relations_relation_type; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_document_relations_relation_type ON public.document_relations USING btree (relation_type);


--
-- Name: ix_document_relations_to_document_id; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_document_relations_to_document_id ON public.document_relations USING btree (to_document_id);


--
-- Name: ix_document_types_category; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_document_types_category ON public.document_types USING btree (category);


--
-- Name: ix_document_types_doc_type_id; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE UNIQUE INDEX ix_document_types_doc_type_id ON public.document_types USING btree (doc_type_id);


--
-- Name: ix_documents_doc_type_id; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_documents_doc_type_id ON public.documents USING btree (doc_type_id);


--
-- Name: ix_documents_space_id; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_documents_space_id ON public.documents USING btree (space_id);


--
-- Name: ix_documents_space_type; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_documents_space_type ON public.documents USING btree (space_type);


--
-- Name: ix_files_content_hash; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_files_content_hash ON public.files USING btree (content_hash);


--
-- Name: ix_files_file_path; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE UNIQUE INDEX ix_files_file_path ON public.files USING btree (file_path);


--
-- Name: ix_files_file_type; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_files_file_type ON public.files USING btree (file_type);


--
-- Name: ix_fragment_artifacts_fragment_id_version; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE UNIQUE INDEX ix_fragment_artifacts_fragment_id_version ON public.fragment_artifacts USING btree (fragment_id, version);


--
-- Name: ix_fragment_artifacts_schema_type_id; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_fragment_artifacts_schema_type_id ON public.fragment_artifacts USING btree (schema_type_id);


--
-- Name: ix_fragment_artifacts_status; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_fragment_artifacts_status ON public.fragment_artifacts USING btree (status);


--
-- Name: ix_fragment_bindings_fragment_id; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_fragment_bindings_fragment_id ON public.fragment_bindings USING btree (fragment_id);


--
-- Name: ix_fragment_bindings_unique_active; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE UNIQUE INDEX ix_fragment_bindings_unique_active ON public.fragment_bindings USING btree (schema_type_id) WHERE (is_active = true);


--
-- Name: ix_llm_run_schema_id; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_llm_run_schema_id ON public.llm_run USING btree (schema_id) WHERE (schema_id IS NOT NULL);


--
-- Name: ix_projects_created_at; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_projects_created_at ON public.projects USING btree (created_at);


--
-- Name: ix_projects_organization_id; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_projects_organization_id ON public.projects USING btree (organization_id);


--
-- Name: ix_projects_owner_id; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_projects_owner_id ON public.projects USING btree (owner_id);


--
-- Name: ix_projects_project_id; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE UNIQUE INDEX ix_projects_project_id ON public.projects USING btree (project_id);


--
-- Name: ix_projects_status; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_projects_status ON public.projects USING btree (status);


--
-- Name: ix_role_prompts_is_active; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_role_prompts_is_active ON public.role_prompts USING btree (is_active);


--
-- Name: ix_role_prompts_role_name; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_role_prompts_role_name ON public.role_prompts USING btree (role_name);


--
-- Name: ix_roles_name; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE UNIQUE INDEX ix_roles_name ON public.roles USING btree (name);


--
-- Name: ix_schema_artifacts_kind; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_schema_artifacts_kind ON public.schema_artifacts USING btree (kind);


--
-- Name: ix_schema_artifacts_schema_id_version; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE UNIQUE INDEX ix_schema_artifacts_schema_id_version ON public.schema_artifacts USING btree (schema_id, version);


--
-- Name: ix_schema_artifacts_status; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE INDEX ix_schema_artifacts_status ON public.schema_artifacts USING btree (status);


--
-- Name: uq_threads_idempotency_active; Type: INDEX; Schema: public; Owner: combine_admin
--

CREATE UNIQUE INDEX uq_threads_idempotency_active ON public.llm_threads USING btree (idempotency_key) WHERE ((status)::text = ANY ((ARRAY['open'::character varying, 'running'::character varying])::text[]));


--
-- Name: projects projects_updated_at; Type: TRIGGER; Schema: public; Owner: combine_admin
--

CREATE TRIGGER projects_updated_at BEFORE UPDATE ON public.projects FOR EACH ROW EXECUTE FUNCTION public.update_updated_at();


--
-- Name: auth_audit_log auth_audit_log_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.auth_audit_log
    ADD CONSTRAINT auth_audit_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: component_artifacts component_artifacts_schema_artifact_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.component_artifacts
    ADD CONSTRAINT component_artifacts_schema_artifact_id_fkey FOREIGN KEY (schema_artifact_id) REFERENCES public.schema_artifacts(id);


--
-- Name: document_definitions document_definitions_document_schema_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.document_definitions
    ADD CONSTRAINT document_definitions_document_schema_id_fkey FOREIGN KEY (document_schema_id) REFERENCES public.schema_artifacts(id);


--
-- Name: document_relations document_relations_from_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.document_relations
    ADD CONSTRAINT document_relations_from_document_id_fkey FOREIGN KEY (from_document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: document_relations document_relations_to_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.document_relations
    ADD CONSTRAINT document_relations_to_document_id_fkey FOREIGN KEY (to_document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: document_types document_types_system_prompt_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.document_types
    ADD CONSTRAINT document_types_system_prompt_id_fkey FOREIGN KEY (system_prompt_id) REFERENCES public.role_tasks(id);


--
-- Name: documents documents_doc_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_doc_type_id_fkey FOREIGN KEY (doc_type_id) REFERENCES public.document_types(doc_type_id) ON DELETE RESTRICT;


--
-- Name: documents fk_documents_doc_type; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT fk_documents_doc_type FOREIGN KEY (doc_type_id) REFERENCES public.document_types(doc_type_id) ON DELETE RESTRICT;


--
-- Name: documents fk_documents_parent; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT fk_documents_parent FOREIGN KEY (parent_document_id) REFERENCES public.documents(id) ON DELETE RESTRICT;


--
-- Name: project_audit fk_project_audit_actor; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.project_audit
    ADD CONSTRAINT fk_project_audit_actor FOREIGN KEY (actor_user_id) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: project_audit fk_project_audit_project; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.project_audit
    ADD CONSTRAINT fk_project_audit_project FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE RESTRICT;


--
-- Name: projects fk_projects_archived_by; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT fk_projects_archived_by FOREIGN KEY (archived_by) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: document_relations fk_relations_from_doc; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.document_relations
    ADD CONSTRAINT fk_relations_from_doc FOREIGN KEY (from_document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: document_relations fk_relations_to_doc; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.document_relations
    ADD CONSTRAINT fk_relations_to_doc FOREIGN KEY (to_document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: link_intent_nonces link_intent_nonces_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.link_intent_nonces
    ADD CONSTRAINT link_intent_nonces_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: llm_ledger_entries llm_ledger_entries_thread_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.llm_ledger_entries
    ADD CONSTRAINT llm_ledger_entries_thread_id_fkey FOREIGN KEY (thread_id) REFERENCES public.llm_threads(id);


--
-- Name: llm_ledger_entries llm_ledger_entries_work_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.llm_ledger_entries
    ADD CONSTRAINT llm_ledger_entries_work_item_id_fkey FOREIGN KEY (work_item_id) REFERENCES public.llm_work_items(id);


--
-- Name: llm_run_error llm_run_error_llm_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.llm_run_error
    ADD CONSTRAINT llm_run_error_llm_run_id_fkey FOREIGN KEY (llm_run_id) REFERENCES public.llm_run(id) ON DELETE CASCADE;


--
-- Name: llm_run_input_ref llm_run_input_ref_llm_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.llm_run_input_ref
    ADD CONSTRAINT llm_run_input_ref_llm_run_id_fkey FOREIGN KEY (llm_run_id) REFERENCES public.llm_run(id) ON DELETE CASCADE;


--
-- Name: llm_run_output_ref llm_run_output_ref_llm_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.llm_run_output_ref
    ADD CONSTRAINT llm_run_output_ref_llm_run_id_fkey FOREIGN KEY (llm_run_id) REFERENCES public.llm_run(id) ON DELETE CASCADE;


--
-- Name: llm_run llm_run_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.llm_run
    ADD CONSTRAINT llm_run_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE SET NULL;


--
-- Name: llm_run_tool_call llm_run_tool_call_llm_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.llm_run_tool_call
    ADD CONSTRAINT llm_run_tool_call_llm_run_id_fkey FOREIGN KEY (llm_run_id) REFERENCES public.llm_run(id) ON DELETE CASCADE;


--
-- Name: llm_threads llm_threads_parent_thread_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.llm_threads
    ADD CONSTRAINT llm_threads_parent_thread_id_fkey FOREIGN KEY (parent_thread_id) REFERENCES public.llm_threads(id);


--
-- Name: llm_work_items llm_work_items_thread_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.llm_work_items
    ADD CONSTRAINT llm_work_items_thread_id_fkey FOREIGN KEY (thread_id) REFERENCES public.llm_threads(id);


--
-- Name: personal_access_tokens personal_access_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: role_tasks role_tasks_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.role_tasks
    ADD CONSTRAINT role_tasks_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: user_oauth_identities user_oauth_identities_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.user_oauth_identities
    ADD CONSTRAINT user_oauth_identities_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: user_sessions user_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: combine_admin
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict RYz911BJnYS76XIJrM9yFKVHvppyrOfHcTYyEx6QoROCy6w8f1Vl7gYjAe1xBZf

