--
-- PostgreSQL database dump
--

\restrict S1qM0YlBZ30xqKdDg7RWPnMW1kL41JqHi7Qai5fzu8tLDgTyKligthlPXbPdIaU

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: document_definitions; Type: TABLE; Schema: public; Owner: combine_user
--

CREATE TABLE public.document_definitions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    document_def_id character varying(150) NOT NULL,
    document_schema_id uuid,
    prompt_header jsonb NOT NULL,
    sections jsonb NOT NULL,
    status character varying(20) DEFAULT 'draft'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by character varying(100),
    accepted_at timestamp with time zone,
    CONSTRAINT ck_document_definitions_status CHECK (((status)::text = ANY ((ARRAY['draft'::character varying, 'accepted'::character varying])::text[])))
);


ALTER TABLE public.document_definitions OWNER TO combine_user;

--
-- Data for Name: document_definitions; Type: TABLE DATA; Schema: public; Owner: combine_user
--



--
-- Name: document_definitions document_definitions_document_def_id_key; Type: CONSTRAINT; Schema: public; Owner: combine_user
--

ALTER TABLE ONLY public.document_definitions
    ADD CONSTRAINT document_definitions_document_def_id_key UNIQUE (document_def_id);


--
-- Name: document_definitions document_definitions_pkey; Type: CONSTRAINT; Schema: public; Owner: combine_user
--

ALTER TABLE ONLY public.document_definitions
    ADD CONSTRAINT document_definitions_pkey PRIMARY KEY (id);


--
-- Name: ix_document_definitions_accepted_at; Type: INDEX; Schema: public; Owner: combine_user
--

CREATE INDEX ix_document_definitions_accepted_at ON public.document_definitions USING btree (accepted_at);


--
-- Name: ix_document_definitions_status; Type: INDEX; Schema: public; Owner: combine_user
--

CREATE INDEX ix_document_definitions_status ON public.document_definitions USING btree (status);


--
-- Name: document_definitions document_definitions_document_schema_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: combine_user
--

ALTER TABLE ONLY public.document_definitions
    ADD CONSTRAINT document_definitions_document_schema_id_fkey FOREIGN KEY (document_schema_id) REFERENCES public.schema_artifacts(id);


--
-- PostgreSQL database dump complete
--

\unrestrict S1qM0YlBZ30xqKdDg7RWPnMW1kL41JqHi7Qai5fzu8tLDgTyKligthlPXbPdIaU

